/* Containers */
body {
    font-size: 20px;
    line-height: 30px;
}
h1, h2, h3 {
    font-size: 20px;
    line-height: 30px;
}

/* Header */
#header {
    margin-bottom: 40px;
}
#header section {
    width: 1200px;
    margin: 25px auto 0 auto;
    padding: 0 60px;
}
#header section nav ul li {
    margin: 0 120px -6px 0;
    height: 56px;
}

/* Main */
#main {
    width: 1200px;
    padding: 0 60px;
}

/* Section: Home */
#articles {
    width: 696px;
    margin-right: 60px;
}
#articles .meta aside, #articles .meta a {
    font-size: 16px;
    line-height: 24px;
}
#articles h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}
#articles p {
    margin-bottom: 30px;
}
#articles-info, #about-summary  {
    width: 192px;
}
#articles-info {
    margin-right: 60px;
}
#articles-info h2, #about-summary h2, #articles-info ul li, #about-summary ul li, #articles-info p, #about-summary p {
    font-size: 16px;
    line-height: 24px;
}
#articles-info ul, #about-summary ul, #articles-info p, #about-summary p {
    margin-bottom: 24px;
}

/* Section: Article */
.article .date, .article .tags, .article .tags a, .article aside {
    font-size: 16px;
    line-height: 24px;
}
.article .date, .article .tags {
    width: 192px;
}
.article h1, .article h2, .article p, .article ul, .article .small, .article .large figcaption {
    width: 696px;
    padding-left: 252px;
}
.article h1, .article h2  {
    margin: 0 0 30px 0;
}
.article h2  {
    margin-top: 30px;
}
.article p:last-child {
    margin-bottom: 30px;
}
.article p + p, .article p + aside + p {
    text-indent: 40px;
}
.article ul {
    margin: 30px 0;
}
.article aside {
    width: 192px;
    margin-top: 4px;
}
.article figure {
    margin: 30px 0;
}
.article figcaption {
    font-size: 16px;
    line-height: 24px;
}

/* Section: Projects */
.projects article {
    margin-bottom: 40px;
}
.projects article:last-child {
    margin-bottom: 0;
}
.projects header {
    width: 360px;
    margin-right: 60px;
}
.projects .date {
    font-size: 16px;
    line-height: 24px;
}
.projects h2 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
}
.projects p {
    margin-bottom: 45px;
}
.projects .button {
    padding: 10px 30px;
}
.projects section {
    width: 780px;
}
.projects section img {
    margin-bottom: 40px;
}

/* Section: Library */
.library h2 {
    font-size: 40px;
    margin-bottom: 40px;
}
.library h3, .library p {
    font-size: 16px;
    line-height: 24px;
}
.library ul li {
    width: 255px;
    margin: 0 60px 40px 0;
}
.library ul li.fourth {
    margin-right: 0;
}
.library section {
    margin-bottom: 8px;
}
.library .description {
    height: 140px;
}
.library .books .row1-4 { height: 329px; }
.library .books .row2-4 { height: 445px; }
.library .books .row3-4 { height: 391px; }
.library .books .row4-4 { height: 380px; }
.library .periodicals .row1-4 { height: 359px; }
.library .documentaries .row1-4 { height: 378px; }
.library .documentaries .row2-4 { height: 360px; }

/* Section: About */
.about .photo {
    margin-right: 60px;
}
.about h1 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
}
.about .bio {
    width: 360px;
    margin-right: 60px;
}
.about .bio p {
    margin-bottom: 30px;
}
.about .bio .email img {
    margin-right: 20px;
}
.about .block {
    margin-bottom: 30px;
}
.about .twitter img {
    margin: 3px 19px 0 5px;
}
.about .flickr img {
    margin: 2px 22px 0 6px;
}
.about .github img {
    margin: 3px 16px 0 0;
}