/*

-Site-
davidedwardclark.com

-Author-
David Clark

-Type-
small: 16/24
body: 20/30
mid: 30/40
large: 40/60

-Colors-
blue: #006bfd rgba(0, 107, 253, 1)
light grey: #cccccc rgba(204,204,204,1)
medium grey: #999999 rgba(153,153,153,1)
dark grey: #222222 rgba(34,34,34,1)

*/


/* =============================================================================
   Reset
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }


/* =============================================================================
   Links & Selection
   ========================================================================== */

a { outline: none; color: #006bfd; text-decoration: none; cursor: pointer;}
a:visited { color: #006bfd; text-decoration: none;  }
a:hover { color: ##006bfd; text-decoration: none;  }
a:focus { outline: none; text-decoration: none;  }
a:hover, a:active { outline: none; text-decoration: none;  }
::-moz-selection { background: #dddddd; text-shadow: none; }
::selection { background: #dddddd; text-shadow: none; }


/* =============================================================================
   Typography
   ========================================================================== */

h1, h2, h3, p, blockquote { margin: 0; padding: 0; }
p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
abbr[title] { border-bottom: 1px dotted #222222; }
b, strong { font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists & Tables
   ========================================================================== */

ul, ol { margin: 0; padding: 0; list-style: none; list-style-image: none; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Images & Media
   ========================================================================== */

img, object { max-width: 100%; }


/* =============================================================================
   Primary Styles
   ========================================================================== */



/* Site Wide */
html {
    font-size: 10px;
    line-height: 10px;
    overflow-y: scroll;
}
body {
    font-family: helvetica, arial, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    color: #222222;
    background: url('/img/bg.jpg') repeat top left;
    background-size: 164px 130px;
}
.wf-loading body {
    visibility: hidden;
}
.wf-active body {
    font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2";
}
.wf-inactive body {
    font-family: helvetica, arial, sans-serif;
}
h1, h2, h3 {
    font-size: 2rem;
    line-height: 3rem;
}
#header {
    margin-bottom: 4rem;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}
#header section {
    width: 120rem;
    margin: 2.5rem auto 0 auto;
    padding: 0 6rem;
}
#header img {
    float: left;
    width: 20rem;
    margin-top: 3px;
}
#header section nav {
    float: right;
}
#header section nav ul li {
    float: left;
    margin: 0 12rem -6px 0;
    height: 5.6rem;
}
#header section nav ul li.active {
    background: url('/img/arrow.png') no-repeat bottom center;
    background-size: 12px 6px;
    font-weight: bold;
}
#header section nav ul li a, #header section nav ul li a:visited {
    color: #999999;
    font-weight: bold;
}
#main {
    width: 120rem;
    margin: 0 auto;
    padding: 0 6rem;
}

/* Section: Home */
.home #articles {
    float: left;
    width: 69.6rem;
    margin-right: 6rem;
    margin-left: 25.2rem;
}
.home .meta {
    float: left;
    margin-left: -25.2rem;
    width: 19.2rem;
}
.home .date {
    text-align: right;
}
.home #articles .meta aside {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #999999;
    margin-top: 0.4rem;
}
.home #articles h2 {
    margin-bottom: 3rem;
    font-weight: bold;
}
.home #articles p {
    margin-bottom: 3rem;
    text-align: justify;
}
.home #about-summary {
    float: left;
    width: 19.2rem;
}
.home #about-summary h2, .home #about-summary ul li, .home #about-summary p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 300;
}
.home #about-summary h2 {
    color: #444444;
    font-weight: bold;
}
.home #about-summary ul, .home #about-summary p {
    margin-bottom: 2.4rem;
}
.home #about-summary ul li, .home #about-summary p {
    color: #999999;
}

/* Section: Article */
.article .date, .article aside {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #999999;
}
.article .date {
    width: 19.2rem;
}
.article .date {
    float: left;
    text-align: right;
}
.article h1, .article h2, .article p, .article ul, .article ol, .article .small, .article .large figcaption {
    width: 69.6rem;
    padding-left: 25.2rem;
}
.article h1, .article h2  {
    margin: 0 0 3rem 0;
}
.article h1 {
    font-weight: bold;
}
.article h2  {
    margin-top: 3rem;
    font-weight: 300;
    font-style: italic;
}
.article p {
    text-indent: 0;
    text-align: justify;
}
.article p:last-child {
    margin-bottom: 3rem;
}
.article p + p, .article p + aside + p {
    text-indent: 4rem;
}
.article ul, .article ol {
    margin: 3rem 0;
}
.article ul li {
    background: transparent url(/img/bullet.png) no-repeat 0 1rem;
    background-size: 6px 6px;
    padding-left: 1.5rem;
    margin-left: -1.5rem;
}
.article ol li {
    list-style-type: decimal;
}
.article aside {
    width: 19.2rem;
    margin-top: 0.4rem;
}
.article .left {
    float: left;
    text-align: right;
}
.article .right {
    float: right;
}
.article figure {
    margin: 3rem 0;
}
.article figcaption {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-style: italic;
}

/* Section: Projects */
.projects article {
    margin-bottom: 4rem;
}
.projects article:last-child {
    margin-bottom: 0;
}
.projects header {
    float: left;
    width: 36rem;
    margin-right: 6rem;
}
.projects .date {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #999999;
}
.projects h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    margin-bottom: 2.5rem;
}
.projects p {
    margin-bottom: 4rem;
}
.projects .button {
    padding: 1rem 3rem;
    color: #ffffff;
    background-color: #006bfd;
    border-radius: 3rem;
    font-weight: bold;
}
.projects section {
    float: left;
    width: 78rem;
    margin-bottom: 4rem;
}
.projects img {
    width: 100%;
}
.projects .framed {
    box-sizing: border-box;
    padding: 4rem;
    border-radius: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
.projects .straight {
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 0;
    background: none;
}
.projects .framed,
.projects .straight {
    margin-bottom: 4rem;
}
.projects .framed:last-child,
.projects .straight:last-child {
    margin-bottom: 0;
}
.projects .no-top-padding {
    padding-top: 0;
}

/* Section: Library */
.library h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    clear: both;
}
.library h3, .library p {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.library h3 {
    font-weight: bold;
}
.wf-inactive .library h3.tighten {
    letter-spacing: -1px;
}
.library ul li {
    float: left;
    width: 19.2rem;
    margin: 0 6rem 4rem 0;
}
.library ul li:nth-child(5n) {
    margin-right: 0;
}
.library section {
    position: relative;
}
.library ul li section:nth-child(1) {
    height: 23rem;
}
.library ul li section:nth-child(1) img {
    width: 80%;
    position: absolute;
    bottom: 1rem;
}
.library ul li section:nth-child(1) img.shorten {
    width: 74%;
}
.library ul li section:nth-child(1) img.extra-shorten {
    width: 65%;
}
.library ul li section:nth-child(1) img.fatten {
    width: 90%;
}
.library ul li section:nth-child(2) {
    height: 13rem;
    overflow: hidden;
}
.library blockquote {
    width: 69.6rem;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2.5rem;
}

/* Section: About */
.about .photo {
    float: left;
    width: 36rem;
    height: 36rem;
    margin-right: 6rem;
    margin-top: -0.5rem;
}
.about h1 {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2.5rem;
}
.about .bio {
    float: left;
    width: 36rem;
    margin-right: 5rem;
    margin-top: 1rem;
}
.about .bio p {
    margin-bottom: 3rem;
}
.about .bio .email img {
    width: 4.8rem;
    height: 3rem;
    margin-right: 2rem;
    vertical-align: middle;
}
.about .block {
    display: block;
    float: left;
    width: 35rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.no-touch .about .block:hover {
    background-color: #006bfd;
    border-radius: 1rem;
}
.about .block section {
    display: block;
    float: left;
    color: #222222;
}
.no-touch .about .block:hover section {
    color: #ffffff;
}
.about .twitter img {
    width: 5.8rem;
    height: 4.8rem;
    margin: 0.3rem 1.9rem 0 0.5rem;
}
.about .flickr img {
    width: 5.4rem;
    height: 5.4rem;
    margin: 0.2rem 2.2rem 0 0.6rem;
}
.about .github img {
    width: 6.5rem;
    height: 5.8rem;
    margin: 0 1.6rem 0 0;
}
.about .block h2 {
    font-weight: bold;
}


/* =============================================================================
   Media Queries
   ========================================================================== */

/* At these sizes we *zoom* the layout */
@media screen and (max-width: 1320px) { html { font-size: 9px; } }
@media screen and (max-width: 1188px) { html { font-size: 8px; } }

/* Size: Tablets */
@media screen and (max-width: 1056px) {
    
    /* All */
    html {
        font-size: 10px;
    }
    
    /* Header */
    #header section, #main {
        width: 69.6rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    #header section {
        margin-top: 2rem;
    }
    #header section nav ul li {
        margin-right: 3.5rem;
    }
    
    /* Section: Home */
    .home #articles {
        margin-right: 0;
        margin-left: 0;
    }
    .home .meta {
        float: none;
        margin-left: 0;
    }
    .home #articles .meta aside {
        margin-top: 0;
    }
    .home .date {
        text-align: left;
    }
    
    /* Section: Article */
    .article .date {
        width: auto;
        text-align: left;
        margin: 0;
    }
    .article .date {
        float: left;
    }
    .article h1 {
        clear: both;
    }
    .article h1, .article h2, .article p, .article ul, .article ol, .article .small, .article .large figcaption {
        padding-left: 0;
    }
    .article .left, .article .right {
        float: none;
        text-align: left;
        width: auto;
        margin: 3rem 0;
        padding: 1rem 0;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
    }
    .article figure {
        margin: 3rem 0;
    }
    .article figcaption {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    
    /* Section: Projects */
    .projects header {
        float: none;
        margin-right: none;
        width: 69.6rem;
    }
    .projects aside, .projects h2, .projects p {
        float: left;
        width: 36rem;
    }
    .projects p {
        margin-bottom: 3.5rem;
    }
    .projects .button {
        float: right;
        margin: -1rem 0 0 0;
    }
    .projects section {
        width: 69.6rem;
    }
    .projects .framed {
        padding: 3.5rem;
        border-radius: 12px;
    }
    .projects .no-top-padding {
        padding-top: 0;
    }

    /* Section: Library */
    .library ul li:nth-child(5n) {
        margin-right: 6rem;
    }
    .library ul li:nth-child(3n) {
        margin-right: 0;
    }
    .library .ideas li section:nth-child(2),
    .library .ideas li section:nth-child(3) {
        width: 69.6rem;
        margin-right: 0;
    }
    .library blockquote {
        width: 100%;
    }
    
    /* Section: About */
    .about .photo {
        width: 25rem;
        height: 25rem;
        margin: 0 3rem 3rem 0;
    }
    .about h1 {
        padding: 3.5rem 0;
        margin: 0;
        font-size: 3rem;
    }
    .about .bio {
        clear: both;
        margin-right: 2rem;
        margin-top: 0;
    }
    .about .bio p {
        margin-bottom: 3rem;
    }
    .about .bio .email img {
        width: 3.9rem;
        height: 2.8rem;
        margin-right: 2rem;
    }
    .about .block {
        width: 29.6rem;
    }
    .about .twitter {
        margin-top: -1rem;
    }
    .about .block p {
        font-size: 1.6rem;
    }
}

/* At these sizes we *zoom* the layout */
@media screen and (max-width: 756px) { html { font-size: 9px; } }
@media screen and (max-width: 680px) { html { font-size: 8px; } }

/* Size: Mobile Landscape */
@media screen and (max-width: 604px) {
    
    /* All */
    html {
        font-size: 10px;
    }
    
    /* Header */
    #header {
        min-width: 48rem;
    }
    #header section {
        margin-top: 3rem;
    }
    #header section, #main {
        width: 43rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    #header img {
        display: block;
        float: none;
        width: 26rem;
        margin: 0 auto 2rem auto;
    }
    #header section nav {
        float: none;
        width: 33.2rem;
        margin-left: auto;
        margin-right: auto;
    }
    #header section nav ul li {
        float: left;
        margin-right: 2.75rem;
    }
    #header section nav ul li:last-child {
        margin-right: 0;
    }
    
    /* Home */
    .home #articles {
        width: 43rem;
    }
    .home #articles p {
        text-align: left;
    }
    
    /* Article */
    .article h1, .article h2, .article p, .article ul, .article ol, .article .small, .article .large figcaption {
        width: 43rem;
    }
    .article p {
        text-align: left;
    }
    
    /* Section: Projects */
    .projects header {
        width: 43rem;
    }
    .projects aside, .projects h2, .projects p {
        float: none;
    }
    .projects h2 {
        line-height: 3.5rem;
    }
    .projects .nodemo p {
        margin-bottom: 0;
    }
    .projects .button {
        float: none;
        margin: 0;
    }
    .projects article {
        margin-bottom: 1rem;
    }
    .projects section {
        width: 43rem;
        margin-top: 4.5rem;
    }
    .projects .nodemo section {
        margin-top: 3rem;
    }
    .projects .framed {
        padding: 1.75rem;
        border-radius: 10px;
    }
    .projects .no-top-padding {
        padding-top: 0;
    }
    .projects .framed, .projects .straight {
        margin-bottom: 3rem;
    }

    /* Section: Library */
    .library ul li {
        margin-bottom: 4.6rem;
    }
    .library ul li:nth-child(1n) {
        margin-right: 4.6rem;
    }
    .library ul li:nth-child(2n) {
        margin-right: 0;
    }
    .library .ideas li section:nth-child(1) {
        margin-right: 0;
    }
    .library .ideas li section:nth-child(2),
    .library .ideas li section:nth-child(3) {
        width: 43rem;
    }
    
    /* Section: About */
    .about .photo {
        width: 30rem;
        height: 30rem;
        margin: 0 0 0 7rem;
    }
    .about h1 {
        clear: both;
        text-align: center;
        width: 43rem;
        padding: 3rem 0;
        line-height: 4rem;
    }
    .about .bio, .about p {
        text-align: center;
        width: 43rem;
        margin-right: 0;
    }
    .about .bio .email {
        margin-bottom: 4.5rem;
    }
    .about .block {
        width: 43rem;
        padding-left: 0;
        padding-right: 0;
    }
    .about .icon {
        width: 43rem;
        height: auto;
        text-align: center;
    }
    .about .icon img {
        margin: 0 auto 1rem auto;
    }
    .about .block section h2, .about .block section p {
        clear: both;
        text-align: center;
    }
    .about .block section h2 {
        line-height: 2rem;
        margin-top: 0.3rem;
    }
}

/* At these sizes we *zoom* the layout */
@media screen and (max-width: 480px) { html { font-size: 9px; } }
@media screen and (max-width: 431px) { html { font-size: 8px; } }

/* Size: Mobile Portrait */
@media screen and (max-width: 387px) {
    
    /* All */
    html {
        font-size: 10px;
    }
    
    /* Header */
    #header {
        min-width: 32rem;
    }
    #header section, #main {
        width: 32rem;
        padding-left: 0;
        padding-right: 0;
    }
    #header section {
        margin-top: 3rem;
    }
    #header section img {
        width: 31.8rem;
        margin: 0 0 2.5rem 0;
    }
    #header section nav {
        width: 32rem;
    }
    #header section nav ul li {
        margin-right: 2.55rem;
    }
    
    /* Section: Home */
    .home #articles {
        width: 32rem;
    }
    .home .date {
        float: none;
    }
    
    /* Section: Article */
    .article h1, .article h2, .article p, .article ul, .article ol, .article .small, .article .large figcaption {
        width: 32rem;
    }
    .article ul, .article ol {
        width: 30rem;
    }
    .article .date {
        float: none;
    }
    .article p + p, .article p + aside + p {
        text-indent: 2rem;
    }
    .article ul, .article ol {
        margin-left: 2rem;
        margin-right: 0;
    }
    
    /* Section: Projects */
    .projects header {
        width: 32rem;
    }
    .projects aside, .projects h2, .projects p {
        float: none;
        width: 32rem;
    }
    .projects .nodemo p {
        margin-bottom: 0;
    }
    .projects .button {
        float: none;
        margin: 0;
    }
    .projects section {
        width: 32rem;
        margin-top: 4.5rem;
    }

    /* Section: Library */
    .library h2 {
        margin-bottom: 2rem;
    }
    .library ul li:nth-child(1n) {
        width: 32rem;
        margin-bottom: 3rem;
        margin-right: 0;
    }
    .library ul li section:nth-child(1) {
        height: auto;
    }
    .library ul li section:nth-child(2) {
        height: auto;
    }
    .library ul li section:nth-child(1) img {
        position: static;
        margin-bottom: 1rem;
    }
    .library .ideas li section:nth-child(2),
    .library .ideas li section:nth-child(3) {
        width: 32rem;
    }
    
    /* Section: About */
    .about .photo {
        width: 32rem;
        height: 32rem;
        margin: 0;
    }
    .about h1 {
        width: 32rem;
    }
    .about .bio, .about p {
        width: 32rem;
    }
    .about .bio .email {
        margin-bottom: 3rem;
    }
    .about .bio .email img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1rem;
    }
    .about .block {
        width: 32rem;
    }
    .about .icon {
        width: 32rem;
    }
    
}

/* At these sizes we *zoom* the layout */
@media screen and (max-width: 320px) { html { font-size: 9px; } }
@media screen and (max-width: 288px) { html { font-size: 8px; } }


/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}

